@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error:403</title>
</head>
<body>
  <div class="errorPage">
    <p class="name">403</p>
    <p class="description">Acesso Proibido</p>
    <p>
        <button class="btn btn-danger" onclick="document.location.href = 'http://www.depreciacao.supaquariuscf.net/Administracao/Home';">Página Inicial</button>
        <button class="btn btn-warning" onclick="history.back();">Página Anterior</button>
    </p>
</div>
</body>
</html>



