@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error:404</title>
</head>
<body>
   <div class="errorPage">
    <p class="name">404</p>
    <p class="description">Página Não Encontrada</p>
    <p>
        <button class="btn btn-danger" onclick="document.location.href = 'http://localhost:7618/Administracao/Home';">Página Inicial</button>
        <button class="btn btn-warning" onclick="history.back();">Página Anterior</button>
    </p>
</div>
</body>
</html>


