<!DOCTYPE html>

<html>
<head>
    <title>@ViewBag.Title</title>
   
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <link rel="icon" type="image/ico" href="../../Content/aquarius/favicon.ico"> 
   

    <link href="../../Content/aquarius/css/stylesheets.css" rel="stylesheet" />

    <link href="../../Content/aquarius/css/fullcalendar.print.css" rel="stylesheet" media="print"/>
    
  


</head>
<body>
    <div>
        @RenderBody()
    </div>
    
   
   
</body>
</html>
