@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <h2>
        Desculpe, aconteceu um erro enquanto processava sua requisição.
    </h2>
    <br />
    @Html.ActionLink("Página Inicial","Index")

</body>
</html>