
    <div class="span4">
                    <div class="head">
                        <div class="isw-edit"></div>
                        <h1>Últimas Notícias do Software</h1>
                        <ul class="buttons">
                            <li>
                                <a href="#" class="isw-text_document"></a>
                            </li>
                            <li>
                                <a href="#" class="isw-settings"></a>
                                <ul class="dd-list">
                                    <li><a href="#"><span class="isw-list"></span>Mostrar todos</a></li>
                                    <li><a href="#"><span class="isw-edit"></span>Adicionar Nova</a></li>
                                    <li><a href="#"><span class="isw-refresh"></span>Atualizar</a></li>
                                </ul>
                            </li>
                        </ul>
                        <div class="clear"></div>
                    </div>
                    <div class="block news scrollBox">

                        <div class="scroll" style="height: 270px;">

                            <div class="item">
                                <a href="#">Nova funcionalidade: Depreciação dígito cumulado .</a>
                                <p>Diferente da depreciaçaõ linear,a depreciaçaõ por dígito o valor depreciado começa em ordem decrescente, até alcançar o total depreciado.</p>
                                <span class="date">04.03.2013 14:23</span>
                                <div class="controls">
                                    <a href="#" class="icon-pencil"></a>
                                    <a href="#" class="icon-trash"></a>
                                </div>
                            </div>

                            <div class="item">
                                <a href="#">Cálculo de depreciação retroativa.</a>
                                <p>Agora toda vez que um Bem for adicionado e sua data de compra for inferior a data atual, como acontece na maioria dos casos, o sistema calcula automaticamente as parcelas atrasadas.</p>
                                <span class="date">02.11.2012 14:23</span>
                                <div class="controls">
                                    <a href="#" class="icon-pencil"></a>
                                    <a href="#" class="icon-trash"></a>
                                </div>
                            </div>
                                                       

                            <div class="item">
                                <a href="#">Adicionar o valor das peças no Bem.</a>
                                <p>Toda vez que o Bem for para o conserto e for colocado uma nova peça, será possível adicionar o valor daquela peça ao valor do Bem.</p>
                                <span class="date">02.11.2012 14:23</span>
                                <div class="controls">
                                    <a href="#" class="icon-pencil"></a>
                                    <a href="#" class="icon-trash"></a>
                                </div>
                            </div>

                              <div class="item">
                                <a href="#">Busca de endereços pelo CEP.</a>
                                <p>No cadastro de pessoas físicas e jurídicas será possível buscar o endereço completo informando apenas o cep.</p>
                                <span class="date">02.03.2013 16:11</span>
                                <div class="controls">
                                    <a href="#" class="icon-pencil"></a>
                                    <a href="#" class="icon-trash"></a>
                                </div>
                            </div>

                            <div class="item">
                                <a href="#">Validador de CNPJ.</a>
                                <p>O validador de CNPJ serve para verificar a vericidade do CNPJ fazendo um simples cálculo para saber o dígito verificador.</p>
                                <span class="date">30.04.2013 21:19</span>
                                <div class="controls">
                                    <a href="#" class="icon-pencil"></a>
                                    <a href="#" class="icon-trash"></a>
                                </div>
                            </div>
                           

                        </div>

                    </div>
                </div>

 <div class="span4">
                    <div class="head">
                        <div class="isw-cloud"></div>
                        <h1>Usuários do Sistema</h1>
                        <ul class="buttons">
                            <li>
                                <a href="#" class="isw-users"></a>
                            </li>
                            <li>
                                <a href="#" class="isw-settings"></a>
                                <ul class="dd-list">
                                    <li><a href="#"><span class="isw-list"></span>Mostrar Todos</a></li>
                                    <li><a href="#"><span class="isw-mail"></span>Enviar email</a></li>
                                    <li><a href="#"><span class="isw-refresh"></span>Atualizar</a></li>
                                </ul>
                            </li>
                        </ul>
                        <div class="clear"></div>
                    </div>
                    <div class="block users scrollBox">

                        <div class="scroll" style="height: 270px;">

                            <div class="item">
                                <div class="image">
                                    <a href="#">
                                        <img src="../../Content/aquarius/img/users/aqvatarius.jpg" width="32" /></a>
                                </div>
                                <div class="info">
                                    <a href="#" class="name">Ademi Vieira</a>
                                    <div class="controls">
                                        <a href="#" class="icon-ok"></a>
                                        <a href="#" class="icon-remove"></a>
                                    </div>
                                </div>
                                <div class="clear"></div>
                            </div>              
                       
                        </div>

                    </div>
                </div>

 <div class="span4">
                    <div class="head">
                        <div class="isw-archive"></div>
                        <h1>Giro de Bens</h1>
                        <ul class="buttons">
                            <li>
                                <a href="#" class="isw-settings"></a>
                                <ul class="dd-list">
                                    <li><a href="#"><span class="isw-list"></span>Mostrar todos</a></li>
                                    <li><a href="#"><span class="isw-ok"></span>Aprovado</a></li>
                                    <li><a href="#"><span class="isw-minus"></span>Reprovado</a></li>
                                    <li><a href="#"><span class="isw-refresh"></span>Atualizar</a></li>
                                </ul>
                            </li>
                        </ul>
                        <div class="clear"></div>
                    </div>
                     
                    <div class="block-fluid accordion">

                        <h3>@DateTime.Now.ToString("MMMM", new System.Globalization.CultureInfo("pt-BR"))</h3>
                        <div>
                            <table cellpadding="0" cellspacing="0" width="100%" class="sOrders">
                                <thead>
                                    <tr>
                                        <th width="60">Data</th>
                                        <th>Usuário</th>
                                        <th width="60">Preço</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><span class="date">Nov 6</span><span class="time">12:35</span></td>
                                        <td><a href="#">Aqvatarius</a></td>
                                        <td><span class="price">$1366.12</span></td>
                                    </tr>
                                    <tr>
                                        <td><span class="date">Nov 8</span><span class="time">18:42</span></td>
                                        <td><a href="#">Olga</a></td>
                                        <td><span class="price">$146.00</span></td>
                                    </tr>
                                    <tr>
                                        <td><span class="date">Nov 15</span><span class="time">8:21</span></td>
                                        <td><a href="#">Alex</a></td>
                                        <td><span class="price">$879.24</span></td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td colspan="3" align="right">
                                            <button class="btn btn-small">More...</button></td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                        

                    </div>
                </div>