@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Gráfico Bem Por Valores</title>
</head>
<body>
    <div>
        <img src ="/Bem/GraficoBemPorValores" />
    </div>
</body>
</html>
