    

        <div class="breadLine">
            <div class="arrow"></div>
            <div class="adminControl active">
                Ocultar/Mostrar
            </div>
        </div>

        <div class="admin">
            <div class="image">
                <img src="../../../../Content/aquarius/img/users/aqvatarius.jpg" class="img-polaroid" />
            </div>
            <ul class="control">a
                
                <li><span class="icon-cog"></span><a href="http://localhost:10112/Administracao/ConfiguracaoSistema/Create">Configurações</a></li>
                <li><span class="icon-share-alt"></span><a href="http://localhost:10112/Account/Logof">Sair</a></li>
            </ul>
            <div class="info">
            <script src="http://www.clocklink.com/embed.js"></script><script type="text/javascript" language="JavaScript">obj=new Object;obj.clockfile="5005-blue.swf";obj.TimeZone="GMT-0300";obj.width=120;obj.height=40;obj.wmode="transparent";showClock(obj);</script>
            </div>
        </div>

        <ul class="navigation">
            <li class="active">
                <a href="http://localhost:10112/Administracao/Home">
                    <span class="isw-grid"></span><span class="text">Página Inicial</span>
                </a>
            </li>
            <li class="openable">
                <a href="#">
                    <span class="isw-plus"></span><span class="text">Cadastro</span>
                </a>
                <ul>
                    <li>
                        <a href="http://localhost:10112/administracao/bem/create">
                            <span class="icon-th"></span><span class="text">Bem</span>
                        </a>
                    </li>
                    <li>
                        <a href="http://localhost:10112/administracao/fornecedor/create">
                            <span class="icon-th"></span><span class="text">Fornecedor</span>
                        </a>
                    </li>
                    <li>
                        <a href="http://localhost:10112/administracao/estabelecimento/create">
                            <span class="icon-th"></span><span class="text">Estabelecimento</span>
                        </a>
                    </li>

                     <li>
                        <a href="http://localhost:10112/administracao/AssistenciaTecnica/create">
                            <span class="icon-th"></span><span class="text">Assistência Técnica/Oficina</span>
                        </a>
                    </li>
                     <li>
                        <a href="http://localhost:10112/administracao/peca/create">
                            <span class="icon-th"></span><span class="text">Peças</span>
                        </a>
                    </li>
                    <li>
                        <a href="http://localhost:10112/administracao/manutencaoBem/create">
                            <span class="icon-th"></span><span class="text">Manutenção</span>
                        </a>
                    </li>

                    <li>
                        <a href="http://localhost:10112/administracao/grupo/create">
                            <span class="icon-th"></span><span class="text">Grupo</span>
                        </a>
                    </li>

                     <li>
                        <a href="http://localhost:10112/administracao/Categoria/create">
                            <span class="icon-th"></span><span class="text">Categoria</span>
                        </a>
                    </li>

                    <li>
                        <a href="http://localhost:10112/administracao/localizacao/create">
                            <span class="icon-th"></span><span class="text">Localização</span>
                        </a>
                    </li>
                    <li>
                        <a href="http://localhost:10112/administracao/Responsavel/create">
                            <span class="icon-th"></span><span class="text">Responsável Pelo Bem</span>
                        </a>
                    </li>

                     <li>
                        <a href="http://localhost:10112/administracao/criarcontausuario/create">
                            <span class="icon-th"></span><span class="text">Conta Usuário</span>
                        </a>
                    </li>
                    


                </ul>
            </li>
                        
            <li class="openable">
                <a href="#">
                    <span class="isw-text_document"></span><span class="text">Tabelas</span>
                </a>
                <ul>
                    <li>
                        <a href="http://localhost:10112/Administracao/Bem/AllProperty">
                            <span class="icon-gift"></span><span class="text">Bens</span></a>   

                         <a href="http://localhost:10112/Administracao/Fornecedor/ListAllProvider">
                            <span class="icon-user"></span><span class="text">Fornecedores</span></a> 
                        
                        <a href="http://localhost:10112/Administracao/ManutencaoBem/AllMaintenance">
                            <span class=" icon-wrench"></span><span class="text">Manutenções</span></a>  
                        
                         <a href="http://localhost:10112/Administracao/Responsavel/AllResponsible">
                            <span class="icon-eye-open"></span><span class="text">Responsáveis</span></a> 
                        
                         <a href="http://localhost:10112/Administracao/AssistenciaTecnica/AllTechnicalAssistance">
                            <span class="icon-edit"></span><span class="text">Assistências Técnicas</span></a> 
                        
                         <a href="http://localhost:10112/Administracao/Categoria/ListAllCategory">
                            <span class="icon-list-alt"></span><span class="text">Categorias</span></a>  

                        <a href="http://localhost:10112/Administracao/Grupo/ListAllGroup">
                            <span class="icon-chevron-up"></span><span class="text">Grupos</span></a>

                         <a href="http://localhost:10112/Administracao/Peca/AllSins">
                            <span class="icon-wrench"></span><span class="text">Peças</span></a>

                        
                           <a href="http://localhost:10112/Administracao/Localizacao/ListLocation">
                            <span class="icon-search"></span><span class="text">Localização</span></a>
                        
                               
                        
                        
                        <div id="navPopMessages" class="popup" style="display: none;">
                            <div class="head">
                                <div class="arrow"></div>
                                <span class="isw-chats"></span>
                                <span class="name">Personal messages</span>
                                <div class="clear"></div>
                            </div>
                            <div class="body messages">

                                <div class="item">
                                    <div class="image">
                                        <a href="#">
                                            <img src="../../../../Content/aquarius/img/users/aqvatarius.jpg" class="img-polaroid" /></a>
                                    </div>
                                    <div class="info">
                                        <a href="#" class="name">Aqvatarius</a>
                                        <p>Lorem ipsum dolor. In id adipiscing diam. Sed lobortis dui ut odio tempor blandit. Suspendisse scelerisque mi nec nunc gravida quis mollis lacus dignissim.</p>
                                        <span>19 feb 2012 12:45</span>
                                    </div>
                                    <div class="clear"></div>
                                </div>

                                <div class="item">
                                    <div class="image">
                                        <a href="#">
                                            <img src="../../../../Content/aquarius/img/users/olga.jpg" class="img-polaroid" /></a>
                                    </div>
                                    <div class="info">
                                        <a href="#" class="name">Olga</a>
                                        <p>Cras nec risus dolor, ut tristique neque. Donec mauris sapien, pellentesque at porta id, varius eu tellus.</p>
                                        <span>18 feb 2012 12:45</span>
                                    </div>
                                    <div class="clear"></div>
                                </div>

                                <div class="item">
                                    <div class="image">
                                        <a href="#">
                                            <img src="../../../../Content/aquarius/img/users/dmitry.jpg" class="img-polaroid" /></a>
                                    </div>
                                    <div class="info">
                                        <a href="#" class="name">Dmitry</a>
                                        <p>In id adipiscing diam. Sed lobortis dui ut odio tempor blandit.</p>
                                        <span>17 feb 2012 12:45</span>
                                    </div>
                                    <div class="clear"></div>
                                </div>

                                <div class="item">
                                    <div class="image">
                                        <a href="#">
                                            <img src="../../../../Content/aquarius/img/users/helen.jpg" class="img-polaroid" /></a>
                                    </div>
                                    <div class="info">
                                        <a href="#" class="name">Helen</a>
                                        <p>Sed lobortis dui ut odio tempor blandit. Suspendisse scelerisque mi nec nunc gravida quis mollis lacus dignissim. Donec mauris sapien, pellentesque at porta id, varius eu tellus.</p>
                                        <span>15 feb 2012 12:45</span>
                                    </div>
                                    <div class="clear"></div>
                                </div>

                            </div>
                            <div class="footer">
                                <button class="btn link_navPopMessages" type="button">Close</button>
                            </div>
                        </div>
                    </li>
                </ul>


            </li>
           
           <li class ="openable">
               <a href="#">
                   <span class="isw-list"></span><span class="text"> Estatísticas</span>
               </a>
               <ul>
                   <li>
                       <a href="http://localhost:10112/administracao/Bem/DepreciationsToDate">
                            <span class="icon-user"></span><span class="text">Histórico Depreciação</span></a>  
                   </li>
                   
                   
                   
               </ul>
           </li>



            <li class ="openable">
               <a href="#">
                   <span class="isw-documents"></span><span class="text"> Relatórios</span>
               </a>
               <ul>
                   <li>
                       <a href="http://localhost:10112/administracao/Bem/BuyToDate">
                            <span class="icon-user"></span><span class="text">Compras no período</span></a>  
                   </li>
                   <li>
                      <a href="http://localhost:10112/administracao/Bem/PropertyByResponsable">
                            <span class="icon-user"></span><span class="text">Bens por responsável </span></a>  
                   </li>                    
                   
                    <li>
                      <a href="http://localhost:10112/administracao/Bem/PropertyToProvider">
                            <span class="icon-user"></span><span class="text">Bens por fornecedor </span></a>  
                   </li>

                   
                   
               </ul>
           </li>



            <li class="openable">
                <a href="#">
                    <span class="isw-graph"></span><span class="text">Gráficos</span>
                </a>
                <ul>
                    <li>
                        <a href="http://localhost:10112/administracao/Bem/GraficoBemPorValores">
                            <span class="icon-picture"></span><span class="text">Bens x Valores</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="icon-pencil"></span><span class="text">Bem x Grupo</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="icon-user"></span><span class="text">Bem x Estabelecimento</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>

        <div class="dr"><span></span></div>

        <div class="widget-fluid">
            <div id="menuDatepicker"></div>
        </div>

       
  
